/* background images */


div{
    height: 300px;
    color: rgb(12, 27, 226);
    border: 2px solid red;
}
.big-img{
    /* background: green; */
    background: url('./big.jpeg');
    /* background-repeat: round; */
    background-repeat: no-repeat;
    background-size: cover;
}
.small-img{
    background: url('./small.jpeg');
    /* background-repeat: repeat;  this is by default value  */
    /* background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: space;
    background-repeat: round; */
    background-repeat: no-repeat;
    background-size: cover;
}
.folder-img{
    background: url('./images/folder-img.jpeg');
    /* background-repeat: no-repeat; */
    background-size: contain;
}